<div class = "container">
    <div class = "card">
        <h3 class="text-center">Cars List</h3>
        <div class = "card-body">
            <table class = "table table-striped">
                <thead>
                    <th>ID</th>
                    <th> Make</th>
                    <th>Model</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    
                
                </tbody>
            </table>
        </div>
    </div>
</div>
